html, body
{
    height: 100%;
}

body
{
    margin: 0px;
    padding: 0px;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 12pt;
    font-weight: 200;
}


h1, h2, h3
{
    margin: 0;
    padding: 0;
}



p
{
    line-height: 180%;
}

a
{
    color: #ee0000;
    text-decoration: none;
}


.container
{
    overflow: hidden;
    margin: 0em auto;
    width: 1400px;
}

#divide {
    margin-top: 2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 2em;
    background-color:rgb(9, 86, 175); 
    height:10px; 
    border:none;
}


/*menu*/
#menu
{
    position: absolute;
    top: 8em;
    right: 2em;
    background-color: aliceblue;
}



#menu li
{
    display: block;
    float: left;
    text-align: center;
}

#menu li a, #menu li span
{
    padding: 1em 1.5em;
    font-weight: 800;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1em;
    color: rgb(20, 20, 20);
}



.picture_text > article h2
{
    position: absolute;
    top: 2em;
    left: 3em;
    font-size: 7em;
    color: rgb(20, 20, 20);
    font-weight: lighter;
    font-family: cursive;
}

.v1{
    width: 1400px;
    height: 700px;
    text-align: center;
    font-size: 1em;
    color: #030007;
    font-weight: lighter;
    overflow: hidden;
    margin: 0em auto;
}

.v1 h1
{
    text-align: center;
    font-size: 3.5em;
    color: #09acec;
    font-weight: lighter;
}

.v1 #part1 p
{
    text-align: center;
    font-size: 1em;
    margin-top: 1em;
    color: #000000;
    font-weight: lighter;
}

.v1 #vis1{
    text-align: center;
    bottom: 0em;
    font-size: 1em;
    color: #030007;
    font-weight: lighter; 
}

.v2{
    width: 1400px;
    height: 550px;
    text-align: center;
    font-size: 1em;
    color: #030007;
    font-weight: lighter;
    overflow: hidden;
    margin: 0em auto;
}

.v2 h1
{
    text-align: center;
    font-size: 3.5em;
    color: #09acec;
    font-weight: lighter;
}

.v2 #vis2{
    position: relative;
    left: -15em;
    bottom: 17em;
}

.v2 #part2 p{
    position: relative;
    bottom: -3em;
    left: 60em;
    text-align: center;
    font-size: 1em;
    color: #000000;
    font-weight: lighter;
    width: 400px;
}

.v3{
    width: 1400px;
    height: 800px;
    text-align: center;
    right: 20em;
    font-size: 1em;
    color: #030007;
    font-weight: lighter;
    overflow: hidden;
    margin: 0em auto;
}

.v3 h1
{
    text-align: center;
    font-size: 3.5em;
    color: #09acec;
    font-weight: lighter;
}

.v3 #part3 p
{   position: relative;
    bottom: -32em;
    text-align: center;
    font-size: 1em;
    color: #000000;
    font-weight: lighter;
}

.v3 #vis3{
    position: relative;
    text-align: center;
    bottom: 11em;
}

.v4{
    width: 1400px;
    height: 600px;
    text-align: center;
    font-size: 1em;
    color: #030007;
    font-weight: lighter;
    overflow: hidden;
    margin: 0em auto;
}

.v4 h1
{
    text-align: center;
    font-size: 3.5em;
    color: #09acec;
    font-weight: lighter;
}

.v4 #vis4{
    position: absolute;
    left: 37em;
    margin-top: 1.5em;
}

.v4 #part4 p{
    position: relative;
    bottom: -3em;
    right: -6em;
    text-align: center;
    font-size: 1em;
    color: #000000;
    font-weight: lighter;
    width: 400px;
}

.v5{
    width: 1400px;
    height: 550px;
    text-align: center;
    font-size: 1em;
    color: #030007;
    font-weight: lighter;
    overflow: hidden;
    margin: 0em auto;
}

.v5 h1
{
    text-align: center;
    font-size: 3.5em;
    color: #09acec;
    font-weight: lighter;
}

.v5 #vis5{
    position: relative;
    bottom: 18em;
    right: 17em;
}

.v5 #part5 p{
    position: relative;
    bottom: -3em;
    left: 55em;
    text-align: center;
    font-size: 1em;
    color: #000000;
    font-weight: lighter;
    width: 400px;
}
